body {
    margin: 0;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-size: 28px;
}

h1 {
    font-weight: 400;
}

.app-header {
    font-size: 45px;;
}
#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 45px;   
}

.card-title {
    text-align: center;
    font-size: 35px;
    color: #4F3674;
    font-weight: 400;
}

.card-content {
    padding: 4px 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

input[type=text] {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 8px 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn {
    width: 50%;
    padding: 12px 40px;
    background-color: #4F3674;
    color: #fff;
    border: 1px solid #4F3674;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
}

.return-home {
    color: #4F3674;
    text-decoration: none;
    padding: 10px 20px;
}

#assign-results-header {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;;
    text-align: left;
}

.assign-results-text {
    text-align: center;
}