/* 
    Title: site.css
    Author: Phuong Tran
    Date: 11/23/2023
    Description: Standard CSS styling to be used for Future Value app.
*/

#card-info {
    width: 600px;
    margin: 3% auto 0;
}

.return-home {
    padding-left: 140px;
}